<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заявление об отказе от договора страхования и возврате страховой премии</title>
</head>
<body>

<p style="text-align: right;">В ${наименование страховщика}</p>
<p style="text-align: right;">ИНН ${ИНН страховщика}</p>
<p style="text-align: right;">${адрес страховщика}</p>
<p style="text-align: right;">&nbsp;</p>
<p style="text-align: right;">от ${Ф. И. О. страхователя}</p>
<p style="text-align: right;">паспорт ${серия, номер, кем выдан, дата выдачи, к/п}</p>
<p style="text-align: right;">зарегистрированный по адресу: ${зарегистрированный по адресу}</p>
<p style="text-align: right;">телефон: ${телефон}</p>
<p style="text-align: right;">адрес электронной почты: ${адрес электронной почты}</p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p style="text-align: center;"><strong>ЗАЯВЛЕНИЕ</strong></p>
<p style="text-align: center;"><strong>ОБ ОТКАЗЕ ОТ ДОГОВОРА СТРАХОВАНИЯ</strong></p>
<p style="text-align: center;"><strong>И ВОЗВРАТЕ СТРАХОВОЙ ПРЕМИИ</strong></p>
<p>&nbsp;</p>
<p>При осуществлении добровольного страхования страховщик должен предусмотреть условие о возврате страхователю уплаченной страховой премии в порядке, установленном Указанием Банка России от 20 ноября 2015 г. № 3854-У &laquo;О минимальных (стандартных) требованиях к условиям и порядку осуществления отдельных видов добровольного страхования&raquo; (далее по тексту &ndash; Указание), в случае отказа страхователя от договора добровольного страхования в течение четырнадцати календарных дней со дня его заключения независимо от момента уплаты страховой премии, при отсутствии в данном периоде событий, имеющих признаки страхового случая.</p>
<p>Согласно пунктам 5-6 Указания, если страхователь отказался от договора добровольного страхования в четырнадцатидневный срок, страховщик обязан вернуть уплаченную страховую премию пропорционально сроку действия договора страхования, или в полном объеме, если отказ произошел до даты начала действия страхования.</p>
<p>Настоящим прошу расторгнуть договор ${наименование договора страхования} № ${номер договора страхования}, заключенный мной ${число, месяц, год договора страхования}, страховой полис ${серия и номер страховой полиса}.</p>
<p>Уплаченную по указанному договору страховую премию прошу вернуть в безналичном порядке в срок, не превышающий 10 рабочих дней со дня получения настоящего заявления об отказе от договора добровольного страхования.</p>
<p>&nbsp;</p>
<p style="padding-left: 40px;"><strong><u>Реквизиты для безналичного перечисления:</u></strong></p>
<p style="padding-left: 40px;">получатель ${Ф. И. О. получателя}</p>
<p style="padding-left: 40px;">номер счета ${номер счета}</p>
<p style="padding-left: 40px;">банк получателя ${наименование банка получателя}</p>
<p style="padding-left: 40px;">корр. счет ${номер корр. счета}</p>
<p style="padding-left: 40px;">БИК ${БИК}</p>
<p>&nbsp;</p>
<p>В случае отказа в удовлетворении заявленных требований, страхователь будет вынужден обратиться в суд за защитой своих прав. В этом случае, согласно Закону Российской Федерации от 07.02.1992 № 2300-1 &laquo;О защите прав потребителей&raquo;, санкцией за просрочку срока исполнения договора является предусмотренная частью 5 статьи 28 указанного Закона неустойка (пеня) в размере трех процентов цены выполнения работы (оказания услуги), а если цена выполнения работы (оказания услуги) договором о выполнении работ (оказания услуг) не определена &ndash; общей цены заказа.</p>
<p>Также за несоблюдение добровольного порядка урегулирования требований потребителя, в соответствии с пунктом 6 статьи 13 Закона РФ &laquo;О защите прав потребителей&raquo;, с страховщика в пользу страхователя подлежит взысканию штраф в размере штраф в размере пятьдесят процентов от суммы, присужденной судом.</p>
<p>Кроме этого со страховщика будут взысканы судебные расходы и моральный вред.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: right;">_______________________________________${инициалы, фамилия}</p>
<p>&nbsp;</p>
<p style="text-align: right;">${число, месяц, год}</p>

</body>
</html>